.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General Styles */
* {
  font-size: 62.5%;
  box-sizing: border-box;

}

h1 {
  font-size: 5rem;
  padding-left: 1.2%;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  padding-left: 1.2%;
}

p {
  font-size: 1.75rem;
}

label {
  font-size: 1.75rem;
  padding: .25%;
}

button {
  font-size: 1.5rem;
}

span {
  font-size: 1.75rem;
  padding-right: .4%;
  font-weight: bold;
}

button:hover {
  background-color: white;
}

button:active {
  transform: translate(0, 2px);
}

input {
  padding: .25%;
  font-size: 1.5rem;
}

/* Form Styles */

.full-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #E7E0C9;
}

.form-container {
  width: 100%;
  background-color: ;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1%;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
}

.music-container {
  display: flex;
  flex-direction: column;
}

/* Friend Styles */

.friends-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.friend {
  border: .5px solid #11324D;
  background-color: #E7E0C9;
  padding: 1%;
  margin: 1%;
  width: 35%; 
}

/* Error Message */

.error-text {
  font-size: 1.25rem;
  color: red;
}